* {
  box-sizing: border-box;
}

*:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto !important;
}

body {
  margin: 0;
  cursor: url('../assets/images/ui/cursor.png'), auto;
  /* font-family: Arial, Helvetica, sans-serif; */
}

p {
  font-size: 1.2rem
}

video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banners {
  background-image: url('../assets/images/ui/background.png');
}

.wish-counter {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.4rem;
  padding: .3rem .7rem;
  background-color: gold;
  border-radius: 5px;
}

.giws-banners-container {
  max-width: 1440px;
  margin: 0 auto;
}

.giws-banners-container>.heading {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.giws-banners-container>.heading>.current-banner {
  color: #d4bc8f;
  font-size: 1.5rem;
  text-shadow: 3px 2px 2px rgb(50, 50, 50);
  width: 200px;
  margin-left: 1.2rem;
  text-align: center;
}

.giws-banners-container>.heading>.close-window, .close-button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/images/ui/closing-button.png');
  height: 40px;
  width: 40px;
  margin-right: 1.2rem;
}

.close-button {
  margin: 0;
}

.giws-banners-container>.heading>.close-window:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto;
}

.giws-banners-container>.heading>.select-banner {
  display: flex;
  justify-content: space-around;
}

.banner-button {
  height: 90px;
  width: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 1.2rem;
  transition-duration: 500ms;
}

.banner-button:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto;
}

.banner-button.beginners-wish {
  background-image: url('../assets/images/ui/noelle.png');
}

.banner-button.beginners-wish.selected {
  background-image: url('../assets/images/ui/noelle-selected.png');
}

.banner-button.ballad-in-goblets, .banner-button.ballad-in-goblets-2 {
  background-image: url('../assets/images/ui/venti.png');
}

.banner-button.ballad-in-goblets.selected, .banner-button.ballad-in-goblets-2.selected {
  background-image: url('../assets/images/ui/venti-selected.png');
}

.banner-button.sparkling-steps, .banner-button.sparkling-steps-2 {
  background-image: url('../assets/images/ui/klee.png');
}

.banner-button.sparkling-steps.selected, .banner-button.sparkling-steps-2.selected {
  background-image: url('../assets/images/ui/klee-selected.png');
}

.banner-button.farewell-of-snezhnaya, .banner-button.farewell-of-snezhnaya-2 {
  background-image: url('../assets/images/ui/childe.png');
}

.banner-button.farewell-of-snezhnaya.selected, .banner-button.farewell-of-snezhnaya-2.selected {
  background-image: url('../assets/images/ui/childe-selected.png');
}

.banner-button.gentry-of-hermitage, .banner-button.gentry-of-hermitage-2 {
  background-image: url('../assets/images/ui/zhongli.png');
}

.banner-button.gentry-of-hermitage.selected, .banner-button.gentry-of-hermitage-2.selected {
  background-image: url('../assets/images/ui/zhongli-selected.png');
}

.banner-button.secretum-secretorum {
  background-image: url('../assets/images/ui/albedo.png');
}

.banner-button.secretum-secretorum.selected {
  background-image: url('../assets/images/ui/albedo-selected.png');
}

.banner-button.adrift-in-the-harbor {
  background-image: url('../assets/images/ui/ganyu.png');
}

.banner-button.adrift-in-the-harbor.selected {
  background-image: url('../assets/images/ui/ganyu-selected.png');
}

.banner-button.invitation-to-mundane-life {
  background-image: url('../assets/images/ui/xiao.png');
}

.banner-button.invitation-to-mundane-life.selected {
  background-image: url('../assets/images/ui/xiao-selected.png');
}

.banner-button.dance-of-lanterns {
  background-image: url('../assets/images/ui/keqing.png');
}

.banner-button.dance-of-lanterns.selected {
  background-image: url('../assets/images/ui/keqing-selected.png');
}

.banner-button.moment-of-bloom, 
.banner-button.moment-of-bloom-2 {
  background-image: url('../assets/images/ui/hu-tao.png');
}

.banner-button.moment-of-bloom.selected, .banner-button.moment-of-bloom-2.selected {
  background-image: url('../assets/images/ui/hu-tao-selected.png');
}

.banner-button.born-of-ocean-swell {
  background-image: url('../assets/images/ui/eula.png');
}

.banner-button.born-of-ocean-swell.selected {
  background-image: url('../assets/images/ui/eula-selected.png');
}
.banner-button.leaves-in-the-wind {
  background-image: url('../assets/images/ui/kazuha.png');
}

.banner-button.leaves-in-the-wind.selected {
  background-image: url('../assets/images/ui/kazuha-selected.png');
}
.banner-button.the-herons-court {
  background-image: url('../assets/images/ui/ayaka.png');
}

.banner-button.the-herons-court.selected {
  background-image: url('../assets/images/ui/ayaka-selected.png');
}

.banner-button.tapestry-of-golden-flames {
  background-image: url('../assets/images/ui/yoimiya.png');
}

.banner-button.tapestry-of-golden-flames.selected {
  background-image: url('../assets/images/ui/yoimiya-selected.png');
}

.banner-button.reign-of-serenity {
  background-image: url('../assets/images/ui/shogun.png');
}

.banner-button.reign-of-serenity.selected {
  background-image: url('../assets/images/ui/shogun-selected.png');
}

.banner-button.drifting-luminescence {
  background-image: url('../assets/images/ui/kokomi.png');
}

.banner-button.drifting-luminescence.selected {
  background-image: url('../assets/images/ui/kokomi-selected.png');
}

.banner-button.epitome-invocation {
  background-image: url('../assets/images/ui/weapon.png');
}

.banner-button.epitome-invocation.selected {
  background-image: url('../assets/images/ui/weapon-selected.png');
}

.banner-button.wanderlust-invocation {
  background-image: url('../assets/images/ui/wanderlust.png');
}

.banner-button.wanderlust-invocation.selected {
  background-image: url('../assets/images/ui/wanderlust-selected.png');
}

.carousel-container {
  position: relative;
  height: 65vh;
  margin: 2rem 15rem;
}

.carousel.carousel-slider {
  display: flex;
}

.carousel {
  height: 100%;
}

.action-container {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.button-container>button {
  margin: auto 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  border-radius: 12px;
  border: 1px solid black;
  padding: 5px 25px;
  background-color: rgb(221, 221, 221);
  color: black;
  transition: color 250ms ease-in;
}

button:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto;
  background-color: rgb(230, 227, 227);
}

.skip-button {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 10;
  opacity: 0.4;
  transition: opacity 500ms;
}

.skip-button:hover {
  opacity: 1;
}

.wish-button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/images/ui/wish-button.png');
  color: #d4bc8f;
  height: 100%;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish-button.disabled {
  filter: grayscale(100%);
  /* Current draft standard */
  -webkit-filter: grayscale(100%);
  /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */
  -webkit-filter: grayscale(1);
  /* Old WebKit */
}

.wish-button:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto;
  color: gold;
}

.details {
  background-color: #ebebeb;
}

.react-stars-container>div {
  justify-content: center;
}

.details-box {
  height: 120px;
  width: 340px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.details-box>div>div:last-child>hr {
  border-top: 2px solid white;
}

.teal {
  color: #359697;
}

.aqua {
  color: #25c0f5;
}

.blue {
  color: #4682b4;
}

.purple {
  color: #9763c4;
}

.orange {
  color: #ec4923;
}

.brass {
  color: #a38052;
}

.gold {
  color: #c8a079;
}

.dark-gray-bg {
  background-color: #dbdbdb;
}

table {
  text-align: center;
}

table, th, td {
  border: 2px solid #d0cfcd;
}

th {
  background-color: #dbd7d3;
}

td {
  color: #a7865a;
  text-transform: capitalize;
}

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: #111315;
  width: 100%;
  z-index: 2;
}

.navbar>svg {
  color: #5b5c5d;
  font-size: 1.2rem;
}

.navbar>svg:hover {
  cursor: url('../assets/images/ui/cursor.png'), auto;
  color: goldenrod;
}

.wish-results {
  background-image: url('../assets/images/ui/wish-details-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-badge {
  position: absolute;
  top: -7px;
  right: -4px;
  color: white;
  padding: 1px 2px;
  border-radius: 6px;
  font-size: .8rem;
  background-color: darkgoldenrod;
  opacity: 0.9;
}

.wish-item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 15px;
  height: 40vh;
  color: white;
  font-size: .9rem;
  text-shadow: 3px 2px 2px rgb(29, 29, 29);
}

.wish-item.character {
  background-size: cover;
}

.wish-item.weapon {
  background-size: contain;
}

.wish-item-single {
  background-position: center;
  background-repeat: no-repeat;
}

.wish-item-single-container {
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 2rem;
}

.amount-spent-badge {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.icon-item {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 340px !important;
  color: white;
  font-size: .8rem;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-modal, .disclaimer-modal {
  max-width: 1000px;
}

.settings-modal {
  width: 769px;
}

.settings-modal-content, .disclaimer-modal-content {
  background-color: #ebebeb;
  text-align: center;
  position: relative;
}

.settings-modal-content>.close-button, .disclaimer-modal-content>.close-button {
  position: absolute;
  top: 2px;
  right: 5px;
}

.settings-modal-content>p, .disclaimer-modal-content>p {
  font-size: 1rem;
  margin: .2rem;
}

.vh-90 {
  height: 90vh !important;
}

.vh-10 {
  height: 10vh !important;
}

.mw-50 {
  max-width: 50% !important;
}

@media (max-width: 1200px) {
  .banner-button {
    height: 81px;
    width: 162px;
  }
  .carousel-container {
    margin: 2rem;
  }
}

@media (max-width: 992px) {
  .banner-button {
    height: 61px;
    width: 128px;
  }
  .giws-banners-container>.heading>.close-window {
    height: 35px;
    width: 35px;
  }
  .action-container>.button-container>button {
    font-size: .8rem;
  }
  .giws-banners-container>.heading>.close-window {
    display: none;
  }
  .wish-button {
    width: 160px;
  }
}

@media (max-width: 769px) {
  .wish-item-single-content {
    height: 20% !important;
  }
  .wish-item-single {
    height: 80% !important;
  }
  .settings-modal {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .giws-banners-container>.heading>.select-banner {
    margin-top: 1.2rem;
    flex-wrap: wrap;
  }
  .wish-button {
    width: 150px;
  }
  .action-container>.button-container>button {
    font-size: .8rem;
    padding: 5px 15px;
  }
  .wish-counter {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 576px) {
  .banner-button {
    height: 50px;
    width: 100px;
  }
  .giws-banners-container>.heading>.current-banner {
    font-size: 1rem;
    width: 100px;
    margin-left: 1.2rem;
    text-align: center;
  }
  .wish-container {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .wish-button {
    width: 123px;
  }
  .wish-counter {
    font-size: .8rem;
  }
}

@media (max-width: 320px) {
  .current-banner {
    display: none;
  }
  .action-container>.button-container {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .action-container>.button-container>button {
    width: 100%;
  }
}
